p, h1, h2{
  color:#4a4a4a;
}

.content.card-header{
  padding: 1em;
  padding-bottom: 0.5em;
}

.ui.fluid.card {
  background: #ebebeb;
}

.ui.card .header{
  color:white;
}
.ui.card .meta {
  font-size: smaller;
  font-weight: 600;
  color: white;
}

.ui.card>.content>.description {
  color: #4a4a4a;
}

.image.like-ico{
  height: 2.5em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.ui.card>.extra, .ui.cards>.card>.extra {
  border-top: none!important;
}

span#rate-text {
  font-size: x-small;
  max-width: 5em;
  display: inline-block;
  line-height: 1em;
}

span#rate-icons,span#share-icons {
  vertical-align: super;
  cursor: pointer;
}

span#share-icons {
  padding-left: 0.5em;
}
