<div class="ui fluid card">
  <div class="content card-header"
    [ngStyle]="{ 'background-color': getHeaderColor() }"
  >
    <div class="right floated mini ui image like-ico"
      [ngStyle]="{ 'background-image': 'url('+getIcoUrl()+')' }"
      > </div>
    <div class="header">
      {{commentData.author}}
    </div>
    <div class="meta">
      {{commentData.dateText}}
    </div>
  </div>

  <div class="content">
    <div class="description">
      {{commentData.text}}
    </div>
  </div>

  <div class="extra content">
    <div class="ui two column grid">
      <div class="column left aligned">
        <span id="rate-text">
          <strong>Rate</strong> this thought
        </span>
        <span id="rate-icons">
          <img src="assets/images/like-grey.svg">
          <img src="assets/images/dislike-grey.svg">
        </span>
      </div>
      <div class="column right aligned">
        <span id="rate-text">
          <strong>Share</strong> this thought
        </span>
        <span id="share-icons">
          <img src="assets/images/share-ico.png">
        </span>
      </div>
    </div>
  </div>
</div>
