<div class="ui container">
  <h1 id="previous-rulings-title" >Previous Rulings</h1>
  <div class="ui two column stackable grid list-content">
    <app-ruling-card
      class="column"
      *ngFor="let rulingItem of rulingDataList"
      [rulingData]="rulingItem"
      ></app-ruling-card>
  </div>
</div>

<!-- This element could be a separated component -->
<!-- add-a-name element -->
<div class="ui container">
  <div class="ui stackable column grid middle aligned add-a-name">
    <div class="twelve wide column">
      <p id="add-a-name-text">Is there anyone else you would want us to add?</p>
    </div>
    <div class="four wide column right aligned">
      <button class="ui inverted button">
         Submit a Name
      </button>
    </div>
  </div>
</div>

