p, h1, h2{
  color:#333333
}
.list-content {
  margin-top: 2.5em!important;
  margin-right: -2rem;
  margin-left: -2rem;
}

.ui.inverted.button{
  padding: 1rem 2rem;
  font-weight: 400;
  border: solid 3px #333333;
  color: #333333!important;
  font-size: larger;
}

.ui.inverted.button:hover {
  background: #ffffff2e;
  color: rgb(228 228 228 / 80%);
}

.add-a-name{
  background-image : url('../../../assets/images/add-a-name-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#add-a-name-text{
  font-size: 1.8em;font-weight: 300;
}

.container:nth-child(2){
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

#previous-rulings-title{
  font-weight: 300;
  font-size: xx-large;
}
