<div class="grey-gradient">
  <div class="ui container">
    <div class="ui large secondary menu">
      <h1 class="item" style="margin: 0;padding: 0;">{{appInfo.title}}</h1>
      <div class="right item">
        <a class="item">Past Trials</a>
        <a class="item">How It Works </a>
        <a class="item">Log In/Sign Up</a>
        <a class="ui image search-opt">
          <img src="assets/images/search-icon.svg">
        </a>
      </div>
    </div>
  </div>
</div>
