.menu{
  height: 7em;
}
a.item:hover {
  color: rgba(233, 233, 233, 0.95)!important;
}
h1  .ui.menu .item, .ui.menu .item{
  color:white;
}
.search-opt{
  cursor: pointer;
}
.ui.container{
  z-index: 1;
}
.grey-gradient{
  background: rgb(51,51,51);
  background: linear-gradient(0deg, rgba(51,51,51,0) 0%, rgba(51,51,51,0.8211659663865546) 99%);
  position: relative;
}
.grey-solid{
  background: #333333;
}

@media only screen and (max-width: 767px){
  h1.item {
    font-size: medium;
  }
  a {
    padding: 0.4em!important;
  }
}
