<div class="ui container">
  <div class="ui stackable column grid middle aligned add-a-name">
    <div class="six wide column links">
      <a href="#">Terms and Conditions</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="right floated four wide column right aligned social">
      <p id="follow-us">Follow Us</p>
      <a href="https://facebook.com"><img src="assets/images/fb.png"></a>
      <a href="https://twitter.com"><img src="assets/images/tw.png"></a>
    </div>
  </div>
</div>
