.links > a {
  color: #333333;
  font-size: small;
  font-weight: 200;
  padding-right: 2em;
  display: inline-block;
}

.right.floated.four.wide.column.right.aligned > * {
  display: inline;
  padding-left: 2em;
}

.social > img{
  cursor: pointer;
}

.container {
  padding-top: 2em;
  padding-bottom: 2.5em;
  border-top: dashed 1px #3333;
}

@media only screen and (max-width: 767px){
  .ui.stackable.grid {
      text-align-last: center;
  }
}

#follow-us{
  line-height: 2.5em;
  align-self: baseline;
  vertical-align: bottom;
  font-size: smaller;
}
