<div class="ui container" [@FadeAnimation]="animationState">
  <div class="ui stackable column grid middle aligned content">
    <div class="three wide column">
      <p  style="margin-bottom: 0;" >{{messageData.subTitle}}</p>
      <h2 style="margin-top: 0;">{{messageData.title}}</h2>
    </div>
    <div class="twelve wide column">
      <p>{{messageData.text}}</p>
    </div>
    <div class="one wide column right aligned middle aligned" (click)="close()">
      <img src="assets/images/close.svg" style="margin: 1em; cursor: pointer;">
    </div>
  </div>
</div>
