<app-main-rulling
  [mainRullingData]="mainRollingData"
  (votedEvent)="updateShowComments($event)"
  ></app-main-rulling>

<!-- content when user voted -->
<div *ngIf="showComments; else noVoted">
  <app-main-ruling-comments
    [mainRollingData]="mainRollingData">
  </app-main-ruling-comments>
</div>
<!-- content when noVote -->
<ng-template #noVoted>
  <app-message [messageData]="messageData"></app-message>
  <app-previous-rulings [rulingDataList]="rulingDataList"></app-previous-rulings>
</ng-template>
