<!-- popup components -->

<!-- end popup compoments -->
<app-nav-bar></app-nav-bar>
<!-- content -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<!-- end content -->
<app-footer></app-footer>
