<div class="ui vertical main-rulling center aligned" [ngStyle]="{ 'backgroundImage': 'url('+ mainRullingData.coverImageUrl + ')'}">
  <div class="ui container grid top-area grey">
    <div class="row">
      <div class="seven wide computer sixteen wide mobile column middle aligned vote-box" style="padding: 0;">
      <!-- vote box -->
      <div class="ui equal width padded grid vote-box" *ngIf="mainRullingData.vote == -1" >
        <div class="row blur-box" style="height: 85%; background-color: rgba(36, 35, 36, 0.45);color: #FFFFFF;">
          <div class="column">
            <p id="support-text">What’s your opinion </p>
            <h1 id="name">{{mainRullingData.name}}?</h1>
            <p id="description">{{mainRullingData.description}}</p>
            <a id="more-info" href="{{mainRullingData.moreInfoLink}}" target="_blank"> <img src="assets/images/wiki_icon.png">  <span>More information </span></a>
            <p id="support-text-two">What’s Your Verdict?</p>
          </div>
        </div>
        <div class="row buttons">
          <div class="column center aligned like" (click)="like($event)">
            <img src="assets/images/like.svg">
          </div>
          <div class="column center aligned dislike" (click)="dislike($event)">
            <img src="assets/images/dislike.svg">
          </div>
        </div>
      </div>
      <!-- write a comment -->
      <div *ngIf="mainRullingData.vote != -1" class="ui equal width padded grid vote-box">
        <div class="row blur-box" style="height: 100%; background-color: rgba(36, 35, 36, 0.45);color: #FFFFFF;">
          <div class="ui middle aligned grid your-vote-container" >
            <div class="row">
              <div class="column">
                <h1 id="title"> Active Trial <span>{{mainRullingData.name}}</span></h1>
              </div>
            </div>
            <div class="row">
              <div id="your-vote-icon" class="five wide column" >
                <img src="{{ mainRullingData.vote==1? 'assets/images/like.svg':'assets/images/dislike.svg'}}"
                [ngStyle]="{ 'background-color': mainRullingData.vote==1? '#1cbbb4':'#f0b752'}"
                alt="Your vote">
              </div>
              <div class="eleven wide column">
                <h2>Your vote
                  has been counted!</h2>
              </div>
            </div>
            <div class="row">
              <p id="description">Feeling like you’re not done yet? Go ahead and share your thoughts, or tell us what do you think {{mainRullingData.topicDisplayName}}</p>
            </div>
            <div class="row centered">
              <button class="ui inverted button">
                <img src="assets/images/comment.svg">
                 Write a Comment
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      </div>
    </div>
  </div>
 <!-- bottom area -->
  <div class="ui grid  bottom-area">
     <!-- Days left -->
    <div class="row" *ngIf="mainRullingData.vote == -1" style="position: absolute; bottom: 0; background-color: rgb(112 112 112 / 0.3);">
      <div class="four wide column right aligned middle aligned" style="height: min-content;" >
        <span style="margin-right: 0.5em; color: white;" >CLOSING</span>
      </div>
      <div class="twelve wide column middle aligned " style="padding-left: 0em;background: rgb(255 255 255 / 0.7);" >
        <div  style=" height: 4em; width: 1em;float: left;margin-left: -1em;">
          <img src="assets/images/polygon_tail.svg" style=" height: 100%;width: 100%;">
        </div>
        <div style="position: absolute; bottom: 0; top: 0; display: flex; align-items: center;">
            <span style="color:#464646; font-size: xx-large;">
              <app-counter [digitStyle]="{ 'color': '#464646;','font-size': 'xx-large' }" [digit]="getDaysLeft()"></app-counter>
              <span style="font-weight: 300;"> days</span>
            </span>
        </div>
      </div>
    </div>
    <!-- results -->
    <div class="row" *ngIf="mainRullingData.vote != -1" style="position: absolute; bottom: 0; height: 6em;">
      <app-animated-bar [digit] ="getPercentage()" [digitStyle]="barLabelNgStyle" [labelsAlign]="false"></app-animated-bar>
    </div>
  </div>
  <!--  -->
</div>
