.main-rulling {
  height: 700px;
  padding-top: 7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-rulling > .grid > .row {
  padding: 0;
}
.top-area{
  height: 80%;
  padding-top: 4.5em;
}
.bottom-area{
  height: 20%;
  position: relative;
}
.ui.grid.bottom-area{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.vote-box{
  height: 100%;
  padding: 0;
  color:white;
}
.blur-box{
  padding: 2.5em 1em!important;
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(21px);
}
.buttons{
  height: 15%;
}
.like{
  background-color: #1cbbb4e6;
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dislike{
  background-color: #ffad1de6;
}
.buttons > .column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

p#description {
  font-size: larger;
  font-weight: lighter;
}

#support-text{
  font-size: medium;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 2px;
}
p#support-text-two {
  bottom: 0;
  position: absolute;
  font-size: large;
  font-weight: 600;
}
a#more-info {
  color: white;
  text-decoration: underline;
}
h1#name {
  font-size: 3.5em;
  font-weight: normal;
  margin-top: -0.2em;;
}
#more-info span{
  vertical-align: text-bottom;
  font-size: smaller;
  margin-left: 0.25em;
  font-weight: lighter;
}

/* Write a comment UI */
h1#title {
  font-size: 2.2em;
  font-weight: 300;
  margin-top: -0.2em;;
}
h1#title span {
  font-weight: 400;
}

.your-vote-container{
    margin-left: 1rem;
    margin-right: 1rem;
}
.ui.inverted.button{
  padding: 1rem 2rem;
  font-size: medium;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.205);
  border: solid 1px;
}
.ui.inverted.button > img{
  height: 1em;
  margin-bottom: -0.2em;
  margin-right: 0.2em;
}

.ui.inverted.button:hover {
  background: #ffffff2e;
  color: rgb(228 228 228 / 80%);
}

#your-vote-icon > img{
  padding: 2em;
}

/* media queries */

@media only screen and (max-width: 420px) {
  #your-vote-icon > img {
    padding: 0.5em;
  }
}

