
<div id="left" [ngStyle]="{ 'width': animatedValue>80?80:animatedValue +'%', 'text-align': labelsAlign?'left':'right' }" >
  <img class="like-ico" src="assets/images/like.svg" >
  <div [ngStyle]="digitStyle" #spanElement  class="text-container">
    {{animatedValue}}%
  </div>

</div>
<div id="right" [ngStyle]="{ 'text-align': labelsAlign?'right':'left' }" >
  <div [ngStyle]="digitStyle" class="text-container" > {{ getOpositeValue()}}% </div>
  <img class="like-ico" src="assets/images/dislike.svg">
</div>
