/* You can add global styles to this file, and also import other style files */

/* semantic UI - quick overrides */
.ui.button {
    border-radius: 0;
}
/* Cards override */
.ui.card>:first-child, .ui.cards>.card>:first-child {
  border-radius: 0 0 0 0!important;
}

.ui.card, .ui.cards>.card {
  border-radius:0;
  box-shadow: none;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 400;
  font-size: 2em;
  margin-top: -.21425em;
  line-height: 0.9;
}

/*  masonry */
.masonry.grid {
  display: block;
}
