<div class="content"
  [ngStyle]="{
    'background-image': 'linear-gradient(0deg, rgba(0,0,0,0.604079131652661) 0%, rgba(0,0,0,0.3071603641456583) 36%, rgba(0,0,0,0) 100%), url('+ rulingData.coverImageUrl+')'
  }">
  <div class="ui grid bottom aligned " style="height: 100%;">
    <!-- row spacers -->
    <div class="row"></div>
    <div class="row "></div>
    <!-- card content -->
    <div class="row" style="padding-bottom: 0;">
      <div class="two wide column" >
        <img class="like-ico" src="{{ rulingData.voteResult==1? 'assets/images/like.svg':'assets/images/dislike.svg'}}"
        [ngStyle]="{ 'background-color': rulingData.voteResult==1? '#1cbbb4':'#f0b752'}"
        alt="Your vote">
      </div>
      <div class="twelve wide column title">
        <h1>{{rulingData.name}}</h1>
      </div>

      <!-- spacers -->
      <div class="two wide column" ></div>
      <div class="two wide column" ></div>

      <div class="twelve wide column description">
        <p>{{rulingData.description}}</p>
      </div>
      <!-- spacers -->
      <div class="two wide column" ></div>
      <div class="two wide column" ></div>

      <div class="eight wide column report">
        <button class="ui inverted button">
           View Full Report
        </button>
      </div>
      <div class="five wide column right aligned metas">
        <p id="date" >{{rulingData.date}} ago</p>
        <p>in {{rulingData.category}}</p>
      </div>
      <div class="sixteen wide column bar">
        <div class="percentage-container">
          <app-animated-bar [digit]="getPercentage()"></app-animated-bar>
        </div>
      </div>
    </div>
  </div>
</div>
