h1,h2,p{
  color:white;
}
.content{
  height: 34em;
  background-repeat: no-repeat;
  background-size: cover;
}
.ui.inverted.button{
  padding: 1rem 2rem;
  font-size: small;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.205);
  border: solid 0px;
  color: white!important;
}
.ui.inverted.button:hover {
  background: #ffffff2e;
  color: rgb(228 228 228 / 80%);
}
.title > h1 {
  font-size: 3.1em;
  line-height: 1;
  font-weight: 400;
}
.description {
  font-weight: 300;
  font-size: medium;
}
.metas {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.metas > p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.bar{
  margin-top: 1em;
}
.percentage-container{
  width: 100%; height: 3em;
}
#date{
  font-weight: bold;
}

img.like-ico {
  padding: 0.4em;
  height: auto;
  max-height: 2.5em;
  max-width: none!important;
}

@media only screen and (max-width: 991px) {
  .like-ico{
    padding: 0.2em;
  }
}


