<div class="ui container">
  <h1 id="title" >What People Are Saying About <span>{{mainRollingData.name}}</span></h1>

  <div class="ui stackable grid filter">
    <div class="one wide column ">View:</div>
    <div (click)="filter(0)" [ngClass]="{ 'filter-selected': filterType === 0 }" class="one wide column center aligned"> All</div>
    <div (click)="filter(1)" [ngClass]="{ 'filter-selected': filterType === 1 }" class="two wide column center aligned like">Comments</div>
    <div (click)="filter(2)" [ngClass]="{ 'filter-selected': filterType === 2 }"class="two wide column center aligned dislike">Comments</div>
    <div (click)="filter(3)" [ngClass]="{ 'filter-selected': filterType === 3 }"class="two wide column center aligned karma">Karma</div>
  </div>

  <div class="ui three column doubling stackable masonry grid list-content">
    <app-comment-card
      class="column"
      *ngFor="let comment of commentsDataList"
      [commentData]="comment"
    ></app-comment-card>
  </div>
</div>
<div class="ui container">
  <div class="ui stackable column grid middle aligned load-more">
    <div *ngIf="isLoading" class="sixteen wide column center aligned">
      <p id="load-more-text">LOADING MORE</p>
    </div>
  </div>
</div>
