p, h1, h2{
  color:#333333
}

.karma{
  color:#ca6fc3
}
.like{
  color:#1cbbb4
}
.dislike{
  color:#f0b752
}

h1#title {
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-weight: 300;
  font-size: xx-large;
}
#title > span {
  font-weight: 500;
}

.filter{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.load-more {
  margin-top: 3em;
}

.filter > div{
cursor: pointer;
}

.filter-selected{
  border: solid 1px gray;
}

/* masonry queries */
@media only screen and (min-width: 768px) {
  .masonry.grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .ui.doubling.masonry.grid[class*="three column"]>.column {
    width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .masonry.grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
